<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>¡PRO-RAGE! - Contacto</title>
  <link rel="stylesheet" href="../assets/css/contacto.css">
</head>
<body>

  <header>
    <img class="logoprorage" src="../assets/imagenes/PRORAGEPAGINA.png" width="260" >
    <div id="links">
     <a href="pagprincipal.html">Inicio</a>
     <a href="contacto.html">Contacto</a>
     <a href="portafolio.html">Portafolio</a>
    </div>
  </header>


  <main>
    <section class="contact">
      <h2>Contacto</h2>
      <p>Para cualquier consulta, no dude en ponerse en contacto con nosotros.</p>
      <div class="info">
        <h3>Información de contacto</h3>
        <ul>
          <li>Teléfono: +57 312 3447474</li>
          <li>Correo electrónico: info@prorage.com</li>
          <li>Dirección: Carrera 43b #92-36, Medellín, Colombia.</li>
        </ul>
      </div>
      <div class="redes">
        <h3>Redes sociales</h3>
        <ul>
          <li><a href="">Facebook</a></li>
          <li><a href="">Twitter</a></li>
          <li><a href="">Instagram</a></li>
        </ul>
      </div>
    </section>
  </main>

  <footer>
    <p>Copyright © 2023 ¡PRO-RAGE!</p>
  </footer>

</body>
</html>
