<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>¡PRO-RAGE! - Inicio de sesión</title>
  <link rel="stylesheet" href="../assets/css/iniciosesion.css">
  <script src="/assets/javascript/login.js"></script>
</head>
<body>

  <header>
    <h1>INICIO DE SESION</h1>
    <img class="logoprorage" src="../assets/imagenes/PRORAGEPAGINA.png" width="260">
  </header>

  <main>
    <form action="/login" method="post">
      <h2>Iniciar sesión</h2>

      <div class="inputs">
        <input type="email" name="correo" placeholder="Correo electrónico" required>
        <input type="password" name="contrasena" placeholder="Contraseña" required>
      </div>

      <button onclick="login()">INICIAR SESION</button>


      <p>¿No tienes cuenta? <a href="/views/registrosesion.html">Registrate</a></p>
    </form>
  </main>

  <footer>
    <p>Copyright © 2023 ¡PRO-RAGE!</p>
    <a href="https://www.facebook.com/prorage/">Facebook</a>
    <a href="https://twitter.com/prorage/">Twitter</a>
    <a href="https://www.instagram.com/prorage/">Instagram</a>
  </footer>

</body>
</html>

