<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>¡PRO-RAGE!</title>
  <link rel="stylesheet" href="../assets/css/pagprincipal.css">
  <script src="/assets/javascript/cerrarsesion.js"></script>
  <link rel="icon" href="../assets/imagenes/PRORAGEPAGINA.png">
</head>
<body>

  <header>
    <button class="btn" onclick="logout()">Cerrar Sesión</button>
    <img class="logoprorage" src="../assets/imagenes/PRORAGEPAGINA.png" width="260" >
    <div id="links">
     <a href="pagprincipal.html">Inicio</a>
     <a href="contacto.html">Contacto</a>
     <a href="portafolio.html">Portafolio</a>
    </div>
  </header>

  <main>
      <section id="vision">
      <h2>Visión</h2>
      <p>Ser la principal referente en el mundo de la enseñanza del ajedrez, empoderando a los jugadores para alcanzar un nivel profesional y desatar su verdadero potencial en el juego.</p>
      </section>

      <section id="mision">
        <h2>Misión</h2>
      <p>Proporcionar un programa educativo de alta calidad que permita a nuestros estudiantes aprender las estrategias y tácticas del ajedrez, desarrollar sus habilidades al máximo y competir a nivel profesional con confianza y destreza.</p>
      </section>
      
      <section id="que-hacemos">
      <h2>Qué hacemos</h2>
      <p>Somos una empresa dedicada a la enseñanza del ajedrez, brindando un enfoque especializado en la formación de jugadores para que alcancen un nivel profesional y desplieguen su furia competitiva en el tablero.</p>
      </section>

      <img src="../assets/imagenes/PRORAGEPAGINA.png" width="500" alt="Logo de ¡PRO-RAGE!">


    <section class="servicios">
      <h2>Servicios</h2>
      <ul>
        <li><a href="#">Clases particulares</a></li>
        <li>Clases grupales</li>
        <li>Torneos</li>
      </ul>
    </section>

    <section class="testimoniales">
      <h2>Testimoniales</h2>
      <p>"¡PRO-RAGE! ha sido un cambio radical en mi vida. Gracias a sus clases, he podido mejorar mi juego de ajedrez de manera significativa y alcanzar mis objetivos. Sin duda, es la mejor escuela de ajedrez en Medellín."</p>
      <p>- Juan Pérez, jugador de ajedrez profesional</p>
    </section>
  </main>

  <footer>
    <p>Copyright © 2023 ¡PRO-RAGE!</p>
  
     <a href="https://www.facebook.com/prorage/">Facebook</a>
     <a href="https://www.twitter.com/prorage/">Twitter</a>
     <a href="https://www.instagram.com/prorage/">Instagram</a>
  </footer>

</body>
</html>
