<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>¡PRO-RAGE! - PORTAFOLIO</title>
  <link rel="stylesheet" href="../assets/css/portafolio.css">
</head>
<body>

  <header>
    <img class="logoprorage" src="../assets/imagenes/PRORAGEPAGINA.png" width="100">
    <div id="links">
     <a href="pagprincipal.html">Inicio</a>
     <a href="contacto.html">Contacto</a>
     <a href="portafolio.html">Portafolio</a>
    </div>
  </header>

  <main>
    <h1 id="tituloabajocaja">PORTAFOLIO DE FOTOS</h1>
    <h3>Fotos fueron tomadas por mi en la Institución Educativa José Antonio Galán.</h3>
    <section>
      <img src="../assets/imagenes/1.jpg">
      <img src="../assets/imagenes/2.jpg">
      <img src="../assets/imagenes/3.jpg">
  </section>
  </main>

  <footer>
    <p>Copyright © 2023 ¡PRO-RAGE!</p>
  
     <a href="https://www.facebook.com/prorage/">Facebook</a>
     <a href="https://twitter.com/prorage/">Twitter</a>
     <a href="https://www.instagram.com/prorage/">Instagram</a>
  </footer>

</body>