<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>¡PRO-RAGE! - PORTAFOLIO</title>
  <link rel="stylesheet" href="portafolio.css">
</head>
<body>

    <header>
        <h1>¡PRO-RAGE! - PORTAFOLIO</h1>
        <div class="cajon-naranja">
            <a href="pagprincipal.html">Inicio</a>
            <a href="portafolio.html">Portafolio</a>
            <a href="contacto.html">Contacto</a>
        </div>
    </header>

  <main>
    <section class="portafolio">
      <h2>Portafolio</h2>
      <p>Cabe recalcar que estas imagenes las tome yo Harold David Ciro Marin en el colegio I.E Jose Antonio Galán.</p>
      <ul>
        <li>
          <img src="imagenes/1.jpg" alt="Imagen 1">
          <h3>Imagen 1</h3>
        </li>
        <li>
          <img src="imagenes/2.jpg" alt="Imagen 2">
          <h3>Imagen 2</h3>
        </li>
        <li>
          <img src="imagenes/3.jpg" alt="Imagen 3">
          <h3>Imagen 3</h3>
        </li>
      </ul>
    </section>
  </main>

  <footer>
    <p>Copyright © 2023 ¡PRO-RAGE!</p>
  
     <a href="https://www.facebook.com/prorage/">Facebook</a>
     <a href="https://twitter.com/prorage/">Twitter</a>
     <a href="https://www.instagram.com/prorage/">Instagram</a>
  </footer>

</body>