<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>¡PRO-RAGE! - Registro</title>
  <link rel="stylesheet" href="../assets/css/registro.css">
  <script src="../assets/javascript/registro.js"></script>
  <link rel="icon" href="../assets/imagenes/PRORAGEPAGINA.png">
</head>
<body>

 <header>
  <button  type="button" id="volver" onclick="back()">Volver</button>
    <h1 id="registro">REGISTRO</h1>
    <img class="logoprorage" src="../assets/imagenes/PRORAGEPAGINA.png" width="100">
  </header>

  <main>
    <form>
      <h2>Registro</h2>
      <input type="text" name="nombres" id="nombres" placeholder="Nombres" required>
      <input type="text" name="apellidos" id="apellidos"  placeholder="Apellidos" required>
      <input type="email" name="correo" id="correo"  placeholder="Correo electrónico" required>
      <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" required>
      <select name="genero" class="select" id="genero">
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
      </select>
      <button onclick="register()">Registrar</button>
    </form>
  </main>

  <footer>
    <p>Copyright © 2023 ¡PRO-RAGE!</p>
  
     <a href="https://www.facebook.com/prorage/">Facebook</a>
     <a href="https://twitter.com/prorage/">Twitter</a>
     <a href="https://www.instagram.com/prorage/">Instagram</a>
  </footer>
</body>
</html>
