@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: orange;
}

header{
  display: flex;
  text-align: center;
  background-color: orange;
  justify-content: center;
}

h1 {
  font-size: 2em;
  color: #ffffff;
}

#links {
  padding: 10px;
  margin-top: 5rem;
}

#links a {
  margin-left: 3rem;
  text-decoration: none;
  color: black;
}

#links a:hover {
  color: red;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
}

p {
  margin-bottom: 10px;
}

footer {
  margin-top: 10rem;
  color: white;
  background-color: orange;
  padding: 20px;
  text-align: center;
}

img {
  width: 260px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

footer a {
  margin: 15px;
}

@media only screen and (max-width: 480px) {

  h1 {
    font-size: 1.5em;
  }

  #links {
    margin-top: 3rem;
  }

  #links a {
    margin-left: 1rem;
  }

  img {
    width: 100%;
  }

  footer {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1368px) {

  h1 {
    font-size: 1.8em;
  }

  #links {
    margin-top: 4rem;
  }

  #links a {
    margin-left: 2rem;
  }
}