@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: orange;
}

header {
  display: flex;
  text-align: center;
  background-color: orange;
  justify-content: center;
}

h1 {
  margin-top: 5rem;
  color: black;
}

nav {
  float: right;
  margin-top: 20px;
}

main {
  padding: 20px;
}

form {
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  background-color: rgb(255, 230, 69);
  margin: 0 auto;
}

input {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

input[type="email"] {
  width: 40rem;
  background-color: #f4f4f4;
  text-align: center;
}

input[type="password"] {
  width: 40rem;
  background-color: #f4f4f4;
  text-align: center;
}

.submit {
  text-align: center;
}

button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  width: 15rem;
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

footer {
  margin-top: 20rem;
  color: white;
  background-color: orange;
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

footer a {
  margin: 15px;
}

#volver {
  margin-top: 4.6rem;
  margin-right: 5rem;
  width: 6rem;
  height: 3rem;
}

@media only screen and (min-width: 481px) and (max-width: 1368px) {

  h1 {
    margin-top: 3rem;
  }

  input[type="email"],
  input[type="password"] {
    width: 38rem;
  }
}