@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: orange;
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    color: #ffffff;
  }
  
  
  main {
    font-size: 1.7rem;
    margin-top: 10rem;
    margin-left: 5rem;

  }
  
  .bienvenida {
    text-align: left;
  }
  
  .botones {

    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: left;
  }
  
  .boton {
    width: 200px;
    height: 50px;
    background-color: white;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .boton-registro {
    margin-left: 20px;
  }
  
  .boton-inicio {
    margin-right: 20px;
  }


h1 {
  font-size: 2rem;
  color: #ffffff;
}



footer {
  text-align: center;
  margin-top: 50rem;
  color: white;
  background-color: orange;
  padding: 20px;
}

.boton-registro {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.boton-inicio {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

footer a {
    margin: 15px;
  }

#piezas {
  margin-left: 50rem;
  text-align: center;
  display: flexbox;
  justify-content: center;
  margin-top: -30rem;
}

#piezas img {
  width: 40rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  main {
    margin-top: 5rem;
    margin-left: 2rem;
  }

  .botones {
    flex-direction: column;
    align-items: center;
  }

  #piezas img {
    width: 20rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  h1 {
    font-size: 1.7rem;
  }

  main {
    margin-top: 7rem;
    margin-left: 3rem;
  }
}

@media (min-width: 900px) {
  #piezas {
    margin-left: 30rem;
  }
}

footer {
  text-align: center;
  margin-top: 25rem;
  color: white;
  background-color: orange;
  padding: 20px;
}

.boton-registro {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.boton-inicio {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

footer a {
  margin: 15px;
}

#piezas {
  margin-left: 50rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: -30rem;
}

#piezas img {
  width: 40rem;
}