@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: orange;
}

header{
  display: flex;
  text-align: center;
  background-color: orange;
  justify-content: center;
}

h1 {
  font-size: 2em;
  color: #ffffff;
}

#links {
  padding: 10px;
  margin-top: 5rem;
}

#links a {
  margin-left: 3rem;
  text-decoration: none;
  color: black;
}

#links a:hover {
  color: red;
}

footer {
  color: white;
  background-color: orange;
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

footer a {
  margin: 15px;
}

.btn {
  background-color: orange;
  margin-right: 5rem;
  margin-top: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  border: solid;
  width: 10rem;
  height: 5rem;
}

#vision {
  background-color: white;
  padding: 10px;
  width: 55rem;
  border-radius: 10px;
  display: grid; 
  position: relative;
  margin-left: 34rem;
  box-shadow: 0px 0px 25px 5px rgb(229, 222, 13);
}

#vision h2 {
  text-align: right;
  justify-content: right;
  display: grid;
  margin-right: 20px;
}


#mision {
  position: relative;
  top: 1rem;
  background-color: white;
  padding: 10px;
  width: 50rem;
  border-radius: 10px;
  display: block; 
  box-shadow: 0px 0px 25px 5px rgb(229, 222, 13);
}


#que-hacemos {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: 39rem;
  width: 50rem;
  height: 10rem;
  box-shadow: 0px 0px 25px 5px rgb(229, 222, 13);
}

.pro-rage-logo {
  background-color: white;
  width: 90.2rem;
  border-radius: 10px;
  margin-top: 2rem;
  text-align: center;
  transition: width 3s ease, box-shadow 5s ease;
}

.pro-rage-logo:hover {
  box-shadow: 0px 0px 30px 5px rgb(255, 255, 255);
  cursor: crosshair;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .btn {
    margin-right: 0;
    margin-top: 2rem;
  }

  #vision {
    transition: width 2s;
  }

  #vision:hover {
    width: 29rem;
  }

  #mision {
    transition: width 2s;
  }

  #mision:hover {
    width: 29rem;
  }

  footer {
   justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 1368px) {
  h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 320px) {

  #vision {
    transition: width 2s;
  }

  #vision:hover {
    width: 21rem;
  }

  #mision {
    transition: width 2s;
  }

  #mision:hover {
    width: 21rem;
  }
}