@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: orange;
}

header{
  display: flex;
  text-align: center;
  background-color: orange;
  justify-content: center;
}

h1 {
  font-size: 2em;
  color: #ffffff;
}


main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
}

p {
  color: white;
  margin-bottom: 10px;
}

footer {
  color: white;
  background-color: #ffaa00;
  padding: 20px;
  text-align: center;
}

img {
  width: 260px;
}

#links {
  padding: 10px;
  margin-top: 5rem;
}

#links a {
  margin-left: 3rem;
  text-decoration: none;
  color: black;
}

#links a:hover {
  color: red;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

footer a {
    margin: 15px;
}

section {
  display: flex;
  width: 600px;
  height: 430px;
}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

#tituloabajocaja {
  color: black;
}

@media (max-width: 480px) {
    form {
      max-width: 100%;
    }
  
    input[type="submit"] {
      width: 100%;
    }
  
    nav {
      float: none;
      text-align: center;
    }
  
    nav a {
      margin: 10px;
    }
  }
  
  @media (min-width: 1368px) {
    form {
      max-width: 400px;
    }
  }
  