@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: orange;
}

header{
  display: flex;
  text-align: center;
  background-color: orange;
  justify-content: center;
}

h1 {
  font-size: 2em;
  color: #ffffff;
}

nav {
  float: right;
  margin-top: 85px;
}

main {
  padding: 20px;
}

form {
  border-radius: 10px;
  text-align: left;
  justify-content: center;
  padding: 50px;
  background-color: rgb(255, 230, 69);
  max-width: 500px;
  margin: 0 auto;
}

input {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px;
}

button {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffaa00;
  color: white;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 50px;
  border: none;
  cursor: pointer;
  margin-top: 2%;
}

.select {
  font-family: 'Montserrat', sans-serif;
  width: 250px;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
}

footer {
  color: white;
  background-color: #ffaa00;
  padding: 20px;
  text-align: center;
}

img {
  width: 260px;
}

.cajon-naranja {
  flex-direction:row;

}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

footer a {
  margin: 15px;
}

#registro {
  font-size: 3rem;
  color: black;
  float: right;
  margin-top: 70px;
}

#regresar {
  margin-left: 3rem;
  background-color: #ffaa00;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 2%;
}

@media (max-width: 480px) {
  form {
    max-width: 100%;
  }

  input[type="submit"] {
    width: 100%;
  }

  nav {
    float: none;
    text-align: center;
  }

  nav a {
    margin: 10px;
  }
}

@media (min-width: 1368px) {
  form {
    max-width: 400px;
  }
}
